* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Color #07a6f0 */

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg-home {
    background-color: #ececec;
    min-height: 100vh;
    width: 100vw;
}

.centerMid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-home {
    background-color: #d7d7d7;
    box-shadow: -10px -10px 20px #c8c8c8;
    width: 90%;
}

.img-home img {
    width: 100%;
    transform: translate(3vw, 2.5vw);
    transition: 2s ease-in-out;
}

.text-home {
    border-left: 2px solid #07a6f0;
    padding-left: 5%;
    margin-top: 15%;
    transition: 1s;
}

.text-home h3 span {
    color: #07a6f0;
    letter-spacing: 1px;
    font-size: 25px;
}

.text-home h1 {
    letter-spacing: 2px;
    font-size: 40px;
}

.text-home p {
    line-height: 1.8;
    font-size: 18px;
}

.text-home p span {
    color: #07a6f0;
    font-weight: 600;
}

.logo-home {
    border-left: 2px solid #07a6f0;
    padding-left: 5%;
    padding-top: 20px;
}

.logo-home img {
    width: 100%;
}

/* Navbar */
.menu {
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 10px 30px;
    color: #1e1e1e;
    text-decoration: none;
    font-size: 24px;
    /* display: flex; */
    background-color: #d7d7d7;
    transition: .5s;
}

/* .menu ul li a i { */
    /* display: block; */
/* } */

.menu ul li a span {
    /* display: block; */
    padding-left: 10px;
    display: none;
    /* width: 0px; */
    overflow: hidden;
}

.menu ul li a:hover {
    background-color: #c8c8c8;
}

.menu ul li a:hover span {
    display: inline;
    /* width: auto; */
}

/* Project */
.bg-project {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.project {
    width: 80%;
    margin: auto;
}

.title-project {
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card-project img {
    width: 100%;
}

.card-project h2 {
    text-align: center;
}

.card-project h2 a {
    text-decoration: none;
    color: #1e1e1e;
    transition: .5s;
}

.card-project h2 a:hover {
    color: #6e6e6e;
}

.project hr {
    margin: 20px 0;
}

.ss-image img {
    width: 100%;
}

.back {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    font-size: 30px;
}

.back a {
    text-decoration: none;
    color: #1e1e1e;
    transition: .5s;
}

.back a:hover {
    color: #6e6e6e;
}

@media(max-width: 768px){
    .xs-home {
        display: flex;
        padding-bottom: 80px;
    }

    .xs-home .img-home {
        margin-top: 10%;
    }

    .menu ul li a:hover span {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .xl-home {
        display: none;
    }

    .bg-project {
        padding-bottom: 80px;
        padding-top: 20px;
    }
    
    .card-project {
        margin-bottom: 20px;
    }
}

@media(min-width: 769px){
    .xs-home {
        display: none;
    }

    .xl-home {
        display: flex;
    }
}